


Key                                                                                                      	Value
Privacy - Location When In Use Usage Description (NSLocationWhenInUseUsageDescription)	"We need your location to show your current coordinates."
Privacy - Location Always and When In Use Usage Description (NSLocationAlwaysAndWhenInUseUsageDescription)	"We need your location to show your current coordinates."
